/*
Custom CSS for TemplateMo 561 Purple Buzz

https://templatemo.com/tm-561-purple-buzz

*/
#center_bars {
    margin: 0 200px 0 200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100%;
    -webkit-box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}

#right_sidebar {
    position: relative;
    padding-top: 33px;
    margin-right: -201px;
    padding-left: 24px;
    width: 176px;
    z-index: 3;
    float: right;
}

#right_sidebar {
    padding-bottom: 10px;
}

#left_sidebar {
    position: relative;
    padding-top: 33px;
    margin-left: -201px;
    padding-right: 20px;
    width: 180px;
    z-index: 3;
    float: left;
}

#center_bars {
    margin: 0 200px 0 200px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100%;
    -webkit-box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}
#center_column {
    background: #fff;
}
#center_column {
    position: relative;
    margin: 0;
    padding-top: 33px;
    background: #fff;
    min-height: auto;
}


